{% load bootstrap3 %}
{% block content %}
<div class="text-center">
    <p>Recover your username and password</p>
    <p>Your username is {{ user.get_username }}</p>

    {% buttons %}
    <a class="btn btn-primary center-block btn-lg" href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
    {% endbuttons %}
    <p> If you did not request to reset your password please ignore this email.</p>

    <p>Thanks for using my site!</p>
</div>
{% endblock %}
