<!DOCTYPE html>
<html lang="en">
{% include "css_include.html" %}
<body>

{% include "header.html" %}
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('../static/images/jingzhiyuan1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2">
{#                    <a href="index1.html">Home</a></span> <span>About</span></p>#}
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    超级无敌小学生</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="intro">
                    <h3><span>01</span> 小组成员</h3>
                    <li>彭伟航</li>
                    <li>成文杰</li>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro">
                    <h3><span>02</span> 开发经历</h3>
                    <p>两个即将在除夕夜街头放飞理想的有志青年，
                        为了写这个代码，每天只睡10个小时，辛辛苦苦写了一周，
                        终于赶在除夕夜之前写完。大家赶快来注册交个朋友吧，
                        是兄弟就来砍我。</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro">
                    <h3><span>03</span> 项目介绍</h3>
                    <p>这是一个集结个人成果的网站，可以通过联系我们，
                    通过审核过后将个人的一些成果展示在界面中，同时网站还有博客功能，
                    方便大家交流。开发出成都理工大学最大的交友平台</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-yatch"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">优秀的人</h3>
                        <p>优秀的人闪闪发光，我们就这样照亮全世界.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-around"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">金智媛最美丽</h3>
                        <p>这个是事实，不接受反驳.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-compass"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">我们的宗旨</h3>
                        <p>不求最好，但求最富.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-map-of-roads"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">公司分布</h3>
                        <p>我们公司遍布全世界.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(../static/images/chuangqingchun.png);"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">我们的团队介绍</h2>
        </div>
        <div>
            <p>开发了慧岩APP，获得了四川省银奖。获得什么建模二等奖，获得
                华为杯零花钱，以及各种奖项记不起了。</p>
               <p> 组内成员精通数学，各种算法，
                有三年安卓开发经验的成员，有三年人工智能研究的成员，有各种
                   流弊的人物。
                <p>我们精通python，java等主流语言，同时对c++研究了n多年，
                c++虐我千百遍，我却还是待她如初恋。想加入我们的可以call我哦！！！</p>
                最后我们的宗旨是，不求最好，但求最富。</p>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter"
         style="background-image: url(../static/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="999">0</strong>
                                <span>已注册用户</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="2000">0</strong>
                                <span>项目个数</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="520">0</strong>
                                <span>VIP用户</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="1314">0</strong>
                                <span>博客量</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% include "footer.html" %}
{% include "js_include.html" %}
</body>
</html>