{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "css_include.html" %}

<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index_home' %}">Darren Phang</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{% url 'index_home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'introduce_home' %}" class="nav-link">Introduce</a></li>
                <li class="nav-item active"><a href="{% url 'show_home' %}" class="nav-link">Show</a></li>
                <li class="nav-item"><a href="{% url 'project_home' %}" class="nav-link">Project</a></li>
                <li class="nav-item"><a href="{% url 'blog_home' %}" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="{% url 'contact_home' %}" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
<div class="hero-wrap js-fullheight" style="background-image: url('{% static "images/bg_1.jpg" %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Image Classification</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-about d-md-flex">
    <div class="one-half" style="padding: 0">
        <img src="{{ MEDIA_URL }}{{ img_dir }}" width="100%" height="500px">
    </div>
    <div class="one-half ftco-animate">
        <div>
            {% for k,row in predict.items %}
                <li>{{ k }}-{{ row }}</li>
            {% endfor %}
        </div>
    </div>
</section>
<section class="ftco-section-parallax">
    <div class="d-flex align-items-center" style="padding: 10px;margin: 20px">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <form method="POST" enctype="multipart/form-data" onsubmit="return validate_form(this)">
                    {% csrf_token %}
                    <label class="btn btn-primary py-3 px-5" for="xFile">选择图片</label>
                    <input type="file" accept="image/*" name="img" id="xFile" style="position:absolute;clip:rect(0 0 0 0);">
                    <button type="submit" class="btn btn-primary py-3 px-5">上传</button>
                </form>
            </div>
        </div>
    </div>

</section>

{% include "footer.html" %}

{% include "js_include.html" %}

<script type="text/javascript">

    function validate_required(field, alerttxt) {
        with (field) {
            if (value == null || value == "") {
                alert(alerttxt);
                return false
            }
            else {
                return true
            }
        }
    }

    function validate_form(thisform) {
        with (thisform) {
            if (validate_required(img, "Please choose a picture at least!") == false) {
                img.focus();
                return false
            }
        }
    }
</script>
</body>

</html>
