<!DOCTYPE html>
<html lang="en">
{% include "css_include.html" %}
<body>
{% include "header.html" %}
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('../static/images/jingzhiyuan1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    博客</h1>
            </div>
        </div>
    </div>
</div>

{% include "article/list/article_titles2.html" %}

{% include "footer.html" %}
{% include "js_include.html" %}
</body>
</html>