{% extends "base.html" %}
{% block title %}
<title>Adaptation</title>
{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h2>课表申请适配列表({{total_valid}}/{{total}})</h2>
</div>
<div class="container">
        <table border="1" cellpadding="10" align="center">
            <tr>
                <td>Read</td>
                <td>School</td>
                <td>Eas</td>
                <td>Type</td>
                <td>Valid</td>
                <td>Adapted</td>
                <td>Delete</td>
                <td>Contact</td>
            </tr>
            {% for adaptation in adaptations %}
            <tr>
                <td>{{adaptation.read}}</td>
                <td> <a href="{{adaptation.url}}"> {{adaptation.school}}</a> </td>
                <td>{{adaptation.eas}}</td>
                <td> <a href="/adaptationdetail/{{adaptation.id}}#bottom"> {{adaptation.type}}</a> </td>
                <td> <a href="/adapted/{{adaptation.id}}?origin={{adaptation.adapted}}">
                    {{adaptation.adapted}}</a> </td>
                <td> <a href="/valid/{{adaptation.id}}?origin={{adaptation.valid}}">
                    {{adaptation.valid}}</a> </td>

                <td> <a href="/delete/{{adaptation.id}}">
                    Delete </a> </td>
                <td>{{adaptation.contact}}</td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}

