{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <link href="{% static 'images/icon.png' %}" rel="SHORTCUT ICON">#}
    {% block title%} {% endblock title %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style type="text/css">
        html, body {
            height: 100%
        }

        .footer {
            height: 55px;
            background-color: #eee;
        }

        .container {
            min-height: 85%
        }

        .content {
            padding-bottom: 30px;
            overflow: hidden;
        }
        td{
            padding: 10px;
        }
    </style>
</head>
{% include "css_include.html" %}
<body>
{%include "header.html"%}
<div class="js-fullheight" style="background-image: url( {% static 'images/home_bg.jpg' %});
        height: 90px;">
</div>
<div class="container">
    <div class="content">
        <div>
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>
{%include "footer.html"%}
</body>
</html>
