{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "css_include.html" %}
<style>
    .imgDiv {
        display: inline-block;
        position: relative;
    }

    .imgDiv .delete {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 50px;
        height: 50px;
        display: none;
    }
</style>
<body>
<script>
    $(document).ready(init);
        function init() {
            $(".imgDiv").mouseenter(function () {
                $(this).find(".delete").show();

            })

            $(".imgDiv").mouseleave(function () {
                $(this).find(".delete").hide();
            });

        }
</script>
{% include "header.html" %}
<!-- END nav -->
<div class="hero-wrap js-fullheight" style="background-image: url('../../static/images/jingzhiyuan1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    人脸标注</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Find Project</h3>
                    <form action="#">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control" placeholder="Keyword search">
                                        <option value="">Select Company</option>
                                        <option value="">Google</option>
                                        <option value="">Baidu</option>
                                        <option value="">FaceBool</option>
                                        <option value="">Microsoft</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkin_date"
                                       placeholder="Date from">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkout_date" class="form-control checkout_date"
                                       placeholder="Date to">
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- END-->
            <div class="col-lg-9">
                <div class="row">
                    {% for face in faces %}
                        <div class="col-sm col-md-3 col-lg-4 ftco-animate">
                            <div class="destination">
                                <div class="imgDiv">
                                    <img class="ec-circle"
                                         src="../{{ MEDIA_URL }}image/{{ face.image_url }}"
                                         width="100%" height="100%">
                                    <img src="http://www.iconpng.com/png/sm-reflection-r/button-cross.png"
                                         class="delete" name="{{ face.image_url }}" onclick="delete_face(this)"/>
                                </div>
                                <div class="text p-3" id="face_name">
                                    <input type="text" name="{{ face.image_url }}" value="{{ face.face_name }}"
                                           onkeydown="if(event.keyCode==13){change_name(this)}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="?page={{ page.number|add:-1 }}">&lt;</a></li>
                                {% for item in total_pages %}
                                    {% if item == page.number %}
                                        <li class="active"><a href="?page={{ item }}">{{ item }}</a></li>
                                    {% else %}
                                        <li><a href="?page={{ item }}">{{ item }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li><a href="?page={{ page.number|add:1 }}">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->


{% include "footer.html" %}

{% include "js_include.html" %}
<script>
    function change_name(e) {
        var xhr;
        var face_name = e.value;
        var image_url = e.name;
        console.log(image_url);
        var form = new FormData(); // FormData 对象
        form.append("image_name", image_url);
        form.append("face_name", face_name); // 文件对象
        xhr = new XMLHttpRequest();  // XMLHttpRequest 对象
        xhr.open("post", window.location.href.split("?")[0]+"change/", true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
        xhr.send(form); //开始上传，发送form数据
        e.blur();
    }

    function delete_face(e) {
        var xhr;
        var face_name = e.value;
        var image_url = e.name;
        console.log(image_url);
        var form = new FormData(); // FormData 对象
        form.append("image_name", image_url);
        form.append("face_name", face_name); // 文件对象
        xhr = new XMLHttpRequest();  // XMLHttpRequest 对象
        xhr.open("post", window.location.href.split("?")[0]+"delete/", true); //post方式，url为服务器请求地址，true 该参数规定请求是否异步处理。
        xhr.send(form); //开始上传，发送form数据
        window.location.reload();
        window.location.reload();
    }
</script>
</body>
</html>