{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "css_include.html" %}
<body>

{% include "header.html" %}
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('../static/images/jingzhiyuan1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
             data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2">
{#                    <a href="../home/index1.html">Home</a></span> <span>Hotel</span></p>#}
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                    项目展示</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Find Project</h3>
                    <form action="#">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control" placeholder="Keyword search">
                                        <option value="">Select Company</option>
                                        <option value="">Google</option>
                                        <option value="">Baidu</option>
                                        <option value="">FaceBool</option>
                                        <option value="">Microsoft</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkin_date"
                                       placeholder="Date from">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkout_date" class="form-control checkout_date"
                                       placeholder="Date to">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Star Rating</h3>
                    <form method="post" class="star-rating">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            &nbsp;&nbsp;
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
                                </p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            &nbsp;&nbsp;
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            &nbsp;&nbsp;
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star"></i><i class="icon-star-o"></i><i
                                        class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            &nbsp;&nbsp;
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i
                                        class="icon-star-o"></i><i class="icon-star-o"></i><i
                                        class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            &nbsp;&nbsp;
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i
                                        class="icon-star-o"></i><i class="icon-star-o"></i><i
                                        class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                    </form>
                </div>
            </div><!-- END-->
            <div class="col-lg-9">
                <div class="row">
                    {% for project in projects %}
                        <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                        <div class="destination">
                            <a href="{{ project.get_project_url }}" class="img img-2 d-flex justify-content-center align-items-center"
                               style="background-image: url({% static project.image_url %});">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-link"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="{{ project.get_project_url }}">{{ project.title }}</a></h3>
                                        <p class="rate">
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star"></i>
                                            <i class="icon-star-o"></i>
                                            <span>{{ project.star }}</span>
                                        </p>
                                    </div>
                                </div>
                                <p>{{ project.describe }}</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i class="icon-map-o"></i>{{ project.company }}</span>
                                    <span class="ml-auto"><a href="{{ project.about_more_url }}">了解更多</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
{#                    <div class="col-sm col-md-6 col-lg-4 ftco-animate">#}
{#                        <div class="destination">#}
{#                            <a href="#" class="img img-2 d-flex justify-content-center align-items-center"#}
{#                               style="background-image: url(../static/images/gan.jpg);">#}
{#                                <div class="icon d-flex justify-content-center align-items-center">#}
{#                                    <span class="icon-link"></span>#}
{#                                </div>#}
{#                            </a>#}
{#                            <div class="text p-3">#}
{#                                <div class="d-flex">#}
{#                                    <div class="one">#}
{#                                        <h3><a href="#">图片风格转换</a></h3>#}
{#                                        <p class="rate">#}
{#                                            <i class="icon-star"></i>#}
{#                                            <i class="icon-star"></i>#}
{#                                            <i class="icon-star"></i>#}
{#                                            <i class="icon-star"></i>#}
{#                                            <i class="icon-star-o"></i>#}
{#                                            <span>8 Rating</span>#}
{#                                        </p>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <p>运用对抗生成网络，将图片转换为任意风格。轻松获得高逼格图片</p>#}
{#                                <hr>#}
{#                                <p class="bottom-area d-flex">#}
{#                                    <span><i class="icon-map-o"></i> Google</span>#}
{#                                    <span class="ml-auto"><a href="#">了解更多</a></span>#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>

                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                {% for item in total_pages %}
                                    {% if item == page.number %}
                                    <li class="active"><a href="?page={{ item }}">{{ item }}</a></li>
                                    {% else %}
                                    <li><a href="?page={{ item }}">{{ item }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->


{% include "footer.html" %}

{% include "js_include.html" %}
</body>
</html>